<nav class="navbar ">
  <a class="navbar-brand" href="/">E-comermmerce APIS</a>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/men">Men</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/women">Women</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/best-seller">Best Seller</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/about">About </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/contact">Contact Us</a>
    </li>
  </ul>
</nav>