<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">\
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
<div class="container"></div>
    <div class="section">
         <h1>Need somethng new</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, quasi perferendis voluptates 
                 tempora molestias ab, odit fugiat quae  facere saepe doloribus enim pariatur sunt possimus sapiente aliquid, earum quibusdam deserunt.</p>
    </div>


    <div class="section">
        <h1>Men clothes</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum, eaque labore ducimus perspiciatis alias 
            numquam mollitia quibusdam aliquam non quasi illo quia saepe, distinctio hic ea neque magni cumque error.</p>
    </div>

    <div class="section">
        <h1>Best seller</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum, suscipit. Et placeat, cumque libero commodi animi optio tempore delectus illo autem, 
            architecto sunt error nisi, asperiores similique laboriosam! Esse, commodi.</p>
    </div>
</div>




</body>
</html>